<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epic Button Game</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <h1>
        The button has been pushed <span class="count">0</span> times(s)
    </h1>
    <div>
        Push the button to update the count!
    </div>

    <div>
        <button class="addCount btn2">
            Push the epic buton
        </button>
    </div>
    <div>
        <button class="resetCount btn1">
            Reset count
        </button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>


</body>
</html>